*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    color: black;
    font-size: 10px;
}

body{
    font-family: 'Jost', sans-serif;
}


/*_______________________________________________________________*/
.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5vw;
}
.header-main-logo{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: red; /**/
}
.header-main-titulo{
    opacity: 0;
    animation-name: anim;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    margin-top: 50px;
}
@keyframes anim {
    0%{
        opacity: 0%;
        margin-top: 50px;
    }
    100%{
        opacity: 100%;
        margin-top: 0;
    }
}
.header-main-titulo1{
    font-size: 20px;
}
.header-main-titulo2{
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
}


/*_______________________________________________________________*/
.bg1, .bg2, .bg3 {
    position: fixed;
    background-color: #212931;
    background-size: cover;
    background-position: center, center, top center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-attachment: scroll, scroll, scroll;
    z-index: -1;
    overflow: hidden;
}
.bg1 {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.bg2, .bg3{
    display: none;
}

/*_______________________________________________________________*/
.footer-main{
    position: fixed;
    bottom: 0;
    /* background-color: #BF4539; */
    background-color: rgba(191,69,57,0.75);
    width: 100%;
    margin: 20px 0;
    padding: 10px 0;

    animation-name: anim2;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
}
@keyframes anim2 {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
.footer-contacto{
    text-align: left;
    font-size: 15px;
    color: #F28D35;
    padding: 2px 0;
    margin-left: 4vw;
}
.footer-copyright{
    text-align: center;
    font-size: 10px;
    color: #BABABA;
    margin-top: 5vh;
}



/*_______________________________________________________________*/
@media (min-width:768px){
    .br{
        display: none;
    }
}


/*_______________________________________________________________*/
@media(min-width:1024px){
    body{
        font-size: +10px;
    }
    .header-main{
        margin: 0;
        position: fixed;
        width: 50vw;
        height: 25vh;
        background-color: #BF4539;
        justify-content: space-around;
    }
    .header-main-titulo1{
        font-size: 3vw;
    }
    .header-main-titulo2{
        font-size: 2.6vw;
    }
    .bg2, .bg3{
        display: block;
    }
    .bg1{
        width: 50vw;
        height: 50vh; 
        top: unset;  
        right: 0;
        bottom: unset;
        left: unset;
    }
    .bg2{
        width: 50vw;
        height: 50vh;
        top: unset;
        right: 0;
        bottom: 0;
        left: unset;
    }
    .bg3{
        width: 50vw;
        height: 50vh;
        top: 25vh;
        right: unset;
        bottom: unset;
        left: 0;
    }
    .footer-main{
        background-color: #BF4539;
        margin: 0;
        width: 50vw;
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        animation-name: none;
        opacity: 100%;
    }
    .footer-contacto{
        text-align: center;
        margin: 0;

        animation-name: anim2;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 1s;
        opacity: 0;
        }
    .footer-copyright{
        animation-name: anim2;
        animation-duration: 2.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 1.5s;
        opacity: 0;
    }






}